<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yendoplan.openappfile">

    <application>
        <provider
            android:name="com.yendoplan.openappfile.FileProvider"
            android:authorities="${applicationId}.fileProvider.com.yendoplan.openappfile"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                 />
        </provider>
    </application>
</manifest>
